:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 40px;
  @media (max-width: 700px) {
    padding: 20px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  color: #646cff;
  text-align: center;
  @media (max-width: 920px) {
    font-size: 1.5em;
  }
}

